

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ca3c25;
  font-family: 'Roboto', sans-serif;

}

li {
  float: left;
  font-family: 'Roboto', sans-serif;
}

li a {
  display: block;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #1d1a05;
}

body {
  background-color: #fffbbd;
}
